:host {
    display: block;
    width: 403px;
    height: 194px;
    margin: 20px;
}
.item_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.item_header {
    color: #0072bc;
    font-size: 16px;
    line-height: 1;
    text-decoration: underline;
    font-weight: 600;
}
.item_price {
    font-size: 18px;
    line-height: 1;
    color: #000;
    font-weight: 600;
}
.item_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 238px;
    height: 100%;
}
.item_img_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}
.item_img {
    max-width: 115px;
    max-height: 150px;
}
.item_rating {
    display: block;
    height: 18px;
    background-image: url(/../../assets/icons/star.png);
    background-repeat: repeat-x;
    background-position: left;
}
.red {
    color: red;
}
.green {
    color: green;
}
.yellow {
    color: yellow;
}
.buscet_btn {
    width: 70%;
    background: #ea1653;
    color: #ffffff;
}
.delete {
    color: #0072bc;
    font-size: 11px;
    line-height: 18px;
    text-decoration: underline;
}
.buscet {
    background-color: #ffffff;
    color: #ea1653;
    border: 1px solid #ea1653;
}
.item_img_wrapper:hover,
.item_header:hover,
.delete:hover {
    cursor: pointer;
    color: #ea1653;
}
.buscet_btn:hover {
    background: #c9073e;
}
.buscet:hover {
    background: rgb(255, 234, 234) !important;
}
