<div class="basket_wrapper">
    <h2>Оформление заказа</h2>
    <h3 class="header3">Список товаров</h3>
    <table class="busket_table">
        <thead>
            <tr class="table_header">
                <th class="th table_img"></th>
                <th class="th table_name ">Товар</th>
                <th class="table_description th">Описание</th>
                <th class="table_count th">Количество</th>
                <th class="table_deliver th">Доставка</th>
                <th class="table_price th">Стоимость</th>
            </tr>
        </thead>
        <tbody class="busket_list">
            <tr class="basket_item" *ngFor="let item of items$|async">
                <td class="table_img">
                    <div class="table_img_wrapper">
                        <img class="item_img" (click)="navigateToProduct(item.id)" src="{{item.imageUrls[0]}}" alt="img">
                        <span class="delete" (click)="deleteFromBasket(item.id)" >Удалить</span>
                    </div>
                    </td>
                <td class="table_name">
                    <div class="table_name_wrapper">
                         <span class="table_name_name" (click)="navigateToProduct(item.id)">{{item.name}}</span>
                         <span class="select" *ngIf="!isFavoriteItem(item.id)" (click)="addToSelect(item.id)">Добавить в избранное</span>
                         <span class="select del" *ngIf="isFavoriteItem(item.id)" (click)="removeFromSelect(item.id)">Удалить из избранного</span>
                    </div>
                </td>
                <td class="table_description">{{item.description}}</td>
                <td class="table_count">
                    <div class="count">
                        <span class="minus" (click)='minus(item.id)' ></span>
                        <div>
                            <input id="asda" class="number" type="text" [(ngModel)]="itemsObject[item.id]">
                        </div>
                        <span class="plus" (click)='plus(item.id)'></span>
                    </div>
                </td>
                <td class="table_deliver">
                    <div class="deliver_wrapper">
                        <span>Самовывоз-завтра</span>
                        <span>Доставака-завтра</span>
                    </div>

                </td>
                <td class="table_price price_td">{{(item.price*itemsObject[item.id]).toFixed(2)}} р.</td>
            </tr>
        </tbody>
    </table>
    <div class="order">
        <span>Общая стоимость <span class="final_price">{{finalPrice.toFixed(2)}} р.</span></span>
        <button mat-button *ngIf="!isOrderActive" class="order_btn" (click)="order()">Оформить заказ</button>
    </div>
    <app-order *ngIf="isOrderActive"></app-order>
</div>
