<div class="header_wrapper">
    <header class="header">
        <div class="location_wrapper">
            <button type="button" class="location_btn">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="13"
                    viewBox="0 0 10 13"
                    fill="none"
                    class="location_icon"
                >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M10 5L10 5.00001C10 5.28878 9.97552
                    5.57184 9.92852 5.84721C9.31782 9.54574 5 13 5 13C5 13 0.68203 9.54563 0.0714481 5.84702C0.02447 5.57171 0 5.28871 0
                    5.00001V5C0 2.23858 2.23858 0 5 0C7.76142 0 10 2.23858 10 5ZM5 7C6.10457 7 7 6.10457
                    7 5C7 3.89543 6.10457 3 5 3C3.89543 3 3 3.89543 3 5C3 6.10457 3.89543 7 5 7Z"
                        fill="currentColor"
                    ></path>
                </svg>
                <span class="location"> {{ city }} </span>
            </button>
        </div>
        <div class="payment">
            <div class="payment_item">
                <span>Оплата частями</span>
            </div>
            <div class="payment_item">
                <span>Бонусная программа</span>
            </div>
            <div class="payment_item">
                <button class="menu_btn" mat-flat-button [matMenuTriggerFor]="menu">
                    Еще
                </button>
                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item>Оплата</button>
                    <button mat-menu-item>Доставка</button>
                    <button mat-menu-item>Самовывоз</button>
                </mat-menu>
            </div>
        </div>
        <div class="contact">
            <div class="contact_item viber">
                <mat-icon
                    ><img class="viber_img" src="./assets/icons/viber.png" alt="viber"
                /></mat-icon>
                <span>Viber</span>
            </div>
            <div class="contact_item">
                <mat-icon
                    ><img class="a1_img" src="./assets/icons/A1.png" alt="A1"
                /></mat-icon>
                <span>+375 29 302 10 21</span>
            </div>
            <div class="contact_item">
                <button class="menu_btn" mat-flat-button [matMenuTriggerFor]="iconmenu">
                    Еще
                </button>
                <mat-menu #iconmenu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item>
                        <mat-icon>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                class="location_icon"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M11.0293 14.7883C11.0293 15.6251 10.3517 16.3024 9.5147 16.3024C8.67823 16.3024 8 15.6251 8 14.7883C8 13.9517 8.67811 13.2734 9.5147 13.2734C10.3517 13.2734 11.0293 13.9516 11.0293 14.7883ZM11.0293 8.21145C11.0293 9.04792 10.3517 9.72628 9.5147 9.72628C8.67823 9.72628 8 9.04804 8 8.21145C8 7.37535 8.67811 6.69663 9.5147 6.69663C10.3517 6.69663 11.0293 7.37523 11.0293 8.21145ZM12.8097 3C14.7077 5.21166 15.847 8.40396 15.847 11.4997C15.847 14.5957 14.7077 17.7886 12.8097 20L11.5593 19.0736C12.8979 16.7092 13.5688 14.5199 13.5688 11.4998C13.5688 8.48069 12.8979 6.29118 11.5593 3.92605L12.8097 3Z"
                                    fill="currentColor"
                                ></path>
                            </svg>
                        </mat-icon>
                        <span>+375 25 502 10 21</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                class="location_icon"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M12 7.66685C15.3086 7.66685 15.9997 8.96182 15.9997 9.66644H20C20 7.00663 16.5603 5 12 5C7.43917 5 4 7.00663 4 9.66644H8.00027C8.00027 8.96182 8.69135 7.66685 12 7.66685ZM8.00027 10.0006H4V12.0631H8.00027V10.0006ZM15.9998 10.0006H20V12.0631H15.9998V10.0006ZM12 16.9997C12.9204 16.9997 13.6665 16.2536 13.6665 15.3332C13.6665 14.4128 12.9204 13.6667 12 13.6667C11.0796 13.6667 10.3335 14.4128 10.3335 15.3332C10.3335 16.2536 11.0796 16.9997 12 16.9997ZM12.5422 8.34874C13.1385 8.37907 13.62 8.45869 14.0002 8.56809V11.6671L18.6666 14.3345V19.0004H5.33398V14.3345L10.0004 11.6671V8.56809C10.3812 8.45869 10.8621 8.37961 11.459 8.34874V11.1255H12.5422V8.34874ZM12 18.0001C13.4732 18.0001 14.6669 16.8064 14.6669 15.3327C14.6669 13.8617 13.4732 12.6658 12 12.6658C10.5269 12.6658 9.33317 13.8601 9.33317 15.3327C9.33317 16.8064 10.5269 18.0001 12 18.0001Z"
                                    fill="currentColor"
                                ></path>
                            </svg>
                        </mat-icon>
                        <span>+375 17 302 10 21</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon
                            ><img
                                class="telegram_img"
                                src="./assets/icons/telegram.png"
                                alt="telegram"
                        /></mat-icon>
                        <span>Telegram</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>mail</mat-icon>
                        <span>Почта</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>settings_phone</mat-icon>
                        <span>Заказать звонок</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>message</mat-icon>
                        <span>Написать нам</span>
                    </button>
                    <hr class="line" />
                    <button mat-menu-item class="contacts">
                        <mat-icon></mat-icon>
                        <span>Контакты</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="contact_center">
            <mat-icon>access_time</mat-icon>
            <span class="contact_center_info">контакт-центр с 8:00 до 22:00</span>
        </div>
    </header>
</div>
<app-header-navigation></app-header-navigation>
<app-category-navigation></app-category-navigation>
