<form >
    <div>
        <h3 class="header3">Личные данные</h3>
        <mat-form-field appearance="legacy" class="FIO">
            <mat-label>Фамилия Имя Отчество</mat-label>
            <input matInput>
          </mat-form-field>
    </div>
    <div>
        <h3 class="header3">Доставка</h3>
        <mat-form-field appearance="legacy" class="town">
          <mat-label>Город/населенный пункт :</mat-label>
          <input matInput placeholder="Минск">
        </mat-form-field>
        <div>
            <div>
                <mat-form-field appearance="legacy">
                    <mat-label>Улицы, дом:</mat-label>
                    <input matInput required>
                  </mat-form-field>
            </div>
              <mat-form-field class="addres" appearance="legacy">
                <mat-label>Подьезд:</mat-label>
                <input matInput required>
              </mat-form-field>
              <mat-form-field class="addres" appearance="legacy">
                <mat-label>Этаж:</mat-label>
                <input matInput required>
              </mat-form-field>
              <mat-form-field class="addres" appearance="legacy">
                <mat-label>Квартира:</mat-label>
                <input matInput required>
              </mat-form-field>
        </div>
        
        <mat-form-field  appearance="legacy">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+ &nbsp;</span>
          <input type="tel" maxlength="12" matInput >
        </mat-form-field>
        <div>
            <mat-form-field appearance="legacy" >
                <mat-label>Дата доставки</mat-label>
                <input matInput [matDatepicker]="datepicker">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Выберите время</mat-label>
                <mat-select panelClass="myPanel" disableRipple>
                    <mat-option value="0">Выберите время</mat-option>
                 <mat-option value="1">7:00-12:00</mat-option>
                  <mat-option value="2">12:00-16:00</mat-option>
                  <mat-option value="3">16:00-20:00</mat-option>
                  <mat-option value="4">20:00-23:00</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <mat-form-field appearance="legacy">
          <mat-label>Описание</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
    </div>
     
</form>
